<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zachvg.streetsweepingreminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".alarm.AlarmActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"/>

        <!-- Required to enable ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".remindernotification.ReminderNotificationReceiver" />

        <service
            android:name=".remindernotification.ReminderNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".remindernotification.NotificationBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".alarm.AlarmBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".remindernotification.NotificationBootService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".alarm.ScheduleNextAlarmService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".alarm.AlarmReceiver" />

        <service
            android:name=".alarm.AlarmService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>